/* General styles for site */
.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-link img {
  height: 2em;
  transition: transform 1s ease-in-out;
}
.social-link img:hover {
  transform: rotate(720deg);
}
.social-link p {
  margin-left: 1em;
}

.experience-logo-title {
  display: flex;
  flex-direction: row;
}
.experience-logo-title img {
  max-height: 2em;
}

.education-logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.education-logo-title h3 {
  margin-left: 1em;
}
.education-logo-title img {
  max-height: 4em;
}

#gif-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#gif-container img {
  margin: 2em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 1em;
  overflow-x: hidden;
}

header, main {
  width: 100%;
  max-width: 1024px;
}

main {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Courier New", sans-serif;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
  article {
    margin-right: 2em;
  }
  aside {
    flex-grow: 1;
    padding: 0 2em;
    border-left: 1px solid black;
  }
  h1.title {
    font-size: 3em;
  }
  h2.title {
    font-size: 2em;
  }
  h3.title {
    font-size: 1.5em;
  }
  h4.title {
    font-size: 1.17em;
  }
  h5.title {
    font-size: 1em;
  }
}
.subtitle {
  font-style: italic;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  border-bottom: 1px solid black;
}
header #header-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header #header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}
header .header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #headshot-image {
  display: none;
}
@media (min-width: 768px) {
  header #header-content {
    flex-direction: row;
    justify-content: start;
  }
  header .header-left {
    flex-grow: 5;
    align-items: start;
  }
  header .header-right {
    flex-grow: 1;
    margin-left: 3em;
  }
  header #headshot-image {
    display: block;
    height: 15em;
    width: 15em;
    max-height: 300px;
    max-width: 300px;
    border-radius: 5px;
  }
}
header #tagline {
  font-size: 1.2em;
  font-style: italic;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ #nav-button:hover span, input[type=checkbox]:checked ~ #nav-button span {
  background: transparent;
}
input[type=checkbox]:checked ~ #nav-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ #nav-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

nav {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: #3AE1FF;
  color: white;
  z-index: 2;
  visibility: hidden;
  position: fixed;
}
nav.active {
  visibility: visible;
}
nav ul {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
nav li {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
nav li a {
  color: darkslategray;
}
nav li a:hover {
  color: black;
}
@media (min-width: 768px) {
  nav ul {
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: unset;
  }
  nav li {
    display: inline-block;
    min-width: 10em;
    font-size: 1em;
    padding: 0;
  }
  nav li :not(:last-child) {
    border-right: 1px solid black;
    margin-right: 1em;
  }
  nav li a {
    color: black;
  }
}

@media (min-width: 768px) {
  nav {
    height: auto;
    width: 100%;
    max-width: 1024px;
    padding-bottom: 1em;
    order: 3;
    background: white;
    visibility: visible;
    position: relative;
  }
}
article {
  flex-grow: 5;
}
article section {
  margin-bottom: 3em;
  border-bottom: 1px black solid;
}
article section:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
article .subsection {
  margin-bottom: 2em;
}
article .subsubsection {
  margin-bottom: 1em;
}

/*# sourceMappingURL=styles.css.map */
