.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 2em;
    transition: transform 1s ease-in-out;

    &:hover {
      transform: rotate(720deg);
    }
  }

  p {
    margin-left: 1em;
  }
}