/* General styles for site */
@import 'social_links';
@import 'experience';
@import 'education';

body {
    display: flex;
    flex-direction: column;
    font-family: "Arial", sans-serif;
    margin: 1em 2em;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    padding-bottom: 3em;
    border-bottom: 1px solid black;
}

.header-left {
    flex-grow: 3;
}

.header-right {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    padding: 1em 1em 0 0;
}

.headshot-image {
    height: 20em;
    max-height: 500px;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    flex-grow: 3;
    margin-right: 2em;

    section:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}

section {
    margin-bottom: 3em;
    border-bottom: 1px black solid;
}

.subsection {
    margin-bottom: 2em;
}

.subsubsection {
    margin-bottom: 1em;
}

aside {
    flex-grow: 1;
    padding: 0 3em;
    border-left: 1px solid black;
}

.subtitle, .subsection-subtitle {
    font-style: italic;
}
