/* General styles for site */
@import 'variables';
@import 'navbar';
@import 'social_links';
@import 'experience';
@import 'education';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: $body-padding;
    overflow-x: hidden;
}

header, main {
    width: 100%;
    max-width: $max-width;
}

main {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Courier New", sans-serif;
}

// Top-level element media-queries
@media (min-width: $tablet-bp) {
    main {
        flex-direction: row;
    }

    article {
        margin-right: 2em;
    }

    aside {
        flex-grow: 1;
        padding: 0 2em;
        border-left: 1px solid black;
    }

    // Courier New looks a bit small, so up each header's size by a class; tablet+ only as it's a bit much on mobile
    h1.title {
        font-size: 3em;
    }
    h2.title {
        font-size: 2em;
    }
    h3.title {
        font-size: 1.5em;
    }
    h4.title {
        font-size: 1.17em;
    }
    h5.title {
        font-size: 1em;
    }
}


.subtitle {
    font-style: italic;
}

a {
    text-decoration: none;
}

#mobile-title {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3AE1FF;
    & * {
        margin: 1em;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }
}

// Our fixed position navbar means the actual title of the navbar links are hidden. This adjusts where
// the links go to to compensate
@media (max-width: $tablet-bp) {
    #experience, #education, #hobbies, #links {
        margin-top: 0;

        &:before {
            content: "";
            display: block;
            height: 4em;
            margin: -4em 0 0;
        }
    }
}

@media (min-width: $tablet-bp) {
    #mobile-title {
        visibility: hidden;
    }
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    border-bottom: 1px solid black;

    #header-title {
        visibility: hidden;
    }

    #header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }

    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #headshot-image {
        display: none;
    }

    @media (min-width: $tablet-bp) {
        #header-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            visibility: visible;
        }

        #header-content {
            flex-direction: row;
            justify-content: start;
        }

        .header-left {
            flex-grow: 5;
            align-items: start;
        }

        .header-right {
            flex-grow: 1;
            margin-left: 3em;
        }

        #headshot-image {
            display: block;
            height: 15em;
            width: 15em;
            max-height: 300px;
            max-width: 300px;
            border-radius: 5px;
        }
    }

    #tagline {
        font-size: 1.2em;
        font-style: italic;
    }
}

article {
    flex-grow: 5;

    section {
        margin-bottom: 3em;
        border-bottom: 1px black solid;
    }

    section:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }

    .subsection {
        margin-bottom: 2em;
    }

    .subsubsection {
        margin-bottom: 1em;
    }

    .wordy-list > li {
        margin-bottom: 0.5em;
    }

    .wordy-list > li:last-child {
        margin-bottom: 0;
    }
}

pre {
    font-family: monospace;
}
